* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    padding: 3px !important;
}

li {
    list-style: none;
}

.title{
    margin-bottom: 10px;
}

.css-1ps6pg7-MuiPaper-root {
    padding: 10px;
    margin: 5px;
    min-width: 150px;
    min-height: 135px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.films-container {
    display: flex;
    flex-wrap: wrap;
}